body {
  /*background-color: #35425d;*/
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  /*background-color: #384661;*/
}

.navbar {
  /*position: fixed;*/
  top: 0;
  width: 100%;
}


.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  text-transform: uppercase;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

#navigationBar {
  position: absolute;
  z-index: 8;
  width: 100%;
}


.text {
  font-family: 'Poppins', sans-serif;
  padding: 12vw 0 5vw;
  letter-spacing: 1px;
  z-index: 10;
}

.name {
  font-family: 'Righteous', cursive;
  text-transform: uppercase;
  color: #8b7532;
  letter-spacing: 0.5px;
  font-size: 60px;
}

.keywords {
  color: white;
  font-size: 22px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}

section {
  height: 100vh;
  width: 100vw;
  /*box-sizing: border-box;*/
}

.parallax {
  /*background-color: #35425d;*/
  z-index: 5;
  top: 0;
  position: absolute;

}

.sky {
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
}

.clouds {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
}


.birds {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
  width: 100vw;
}

.shadow {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 4;
  width: 100vw;
}

.buildings {
  position: absolute;
  z-index: 5;
  bottom: 0;
  left: 0;
  width: 100vw;
}

.section-title {
  text-transform: uppercase;
  padding-top: 30px;
  font-size: 40px;
  font-family: 'Montserrat';
  font-weight: 800;
}

.work-thumbnail {
  padding: 0;
  margin: 0;
}

.about-section {
  background: url('../images/me.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.about-me {
  margin-left: 100px;
  margin-top: 100vh;
  width: 45%;
  font-family: 'Quicksand', sans-serif;
  padding: 30px;
  /*background-color: rgba(0, 0, 0, 0.1);*/
  background-color: #457ed2;
  color: whitesmoke;
}

.skill-content {
  margin-left: 100px;
  width: 45%;
}

.contact-me {
  width: 45%;
  margin-left: auto;
  margin-right: auto;
}

.need-help {
  font-family: 'Poppins', sans-serif;
  margin-top: 30px;
  margin-bottom: 50px;
  color: white;
}

.contact-section {
 background: url('../images/web-bkg2.jpg');
 height: 100vh;
 /*padding-bottom: 30px;*/
}

.content-container {
  width: 100vw;
}


.icon-fb i {
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin-left: 10px;
  color: white;
  background: #3b5999;
  border-radius: 40px;
}

.icon-ig i {
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin-left: 10px;
  color: white;
  background: #e4405f;
  border-radius: 40px;
}

.icon-yt i {
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin-left: 10px;
  color: white;
  background: #cd201f;
  border-radius: 40px;
}

.btn-submit {
  background: #4173d2;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
/*
.work-details {
  font-family: 'Poppins', sans-serif; 
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}*/

.work-thumbnail {
  padding: 0;
  margin: 0;
}

.work-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 38px;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.work-title2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 38px;
  /*text-transform: uppercase;*/
  letter-spacing: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.work-img {
  object-fit: contain;
  /*width: 100%;*/
}

/*
[class*=" imghvr-"], [class^=imghvr-] {
  background: rgba(0, 0, 0, 0.2);
}*/

[class*=" imghvr-"] figcaption, [class^=imghvr-] figcaption {
  /*background: rgb(67,124,210);
  background: linear-gradient(177deg, rgba(67,124,210,1) 0%, rgba(208,169,225,1) 64%, rgba(250,227,231,1) 100%);*/
  background-color: rgba(0, 0, 0, 0.6);
}

/*[class*=" imghvr-reveal-"], [class^=imghvr-reveal-] {
  background-color: rgba(0, 0, 0, 0.7);
}*/

[class*=" imghvr-reveal-"]:before, [class^=imghvr-reveal-]:before {
  background-color: rgba(0, 0, 0, 0.6);
}

.no-margin {
  margin-bottom: 0;
}

.skill_title {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  /*font-weight: 900;*/
}
/*GAUGE METER*/
.GaugeMeter {
  position: Relative;
  text-align: Center;
  overflow: Hidden;
  cursor: Default;
  display: inline-block;
}

.GaugeMeter SPAN, .GaugeMeter B {
  width: 54%;
  position: Absolute;
  text-align: Center;
  display: Inline-Block;
  color: RGBa(0,0,0,.8);
  font-weight: 100;
  font-family: "Open Sans", Arial;
  overflow: Hidden;
  white-space: NoWrap;
  text-overflow: Ellipsis;
  margin: 0 23%;
}

.GaugeMeter[data-style="Semi"] B {
  width: 80%;
  margin: 0 10%;
}

.GaugeMeter S, .GaugeMeter U {
  text-decoration: None;
  font-size: .60em;
  font-weight: 200;
  opacity: .6;
}

.GaugeMeter B {
  color: #000;
  font-weight: 200;
  opacity: .8;
}

.gallery-body {
   background: url('../images/web-bkg3.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;

}

.gallery-container {
  margin-top: 150px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.column img:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  cursor: pointer;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

