html {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
/*  perspective: 1px;
  transform-style: preserve-3d;*/
  height: 120%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  text-transform: uppercase;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}


.text {
  font-family: 'Poppins', sans-serif;
  /*padding-top: 210px;*/
  letter-spacing: 1px;
}

.name {
  font-family: 'Righteous', cursive;
  text-transform: uppercase;
  color: #8b7532;
  letter-spacing: 0.5px;
  /*line-height: 80vh;*/
  font-size: 60px;
}

.keywords {
  color: silver;
  font-size: 22px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#navigationBar {
  position: absolute;
  z-index: 3;
  width: 100%;
}


#parallax {
  background: url("../images/background-1.jpg") no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  /*height: 100vh;*/
  height: 120%;
  padding: 20vw 0 5vw;
  width: 100vw;
}



